
<!-- <h3 class="masthead-title">
<small><i class="fa fa-code"></i> Cloud and software development</small>
</h4> -->
<!-- </div> -->
<header class="masthead">
    <!-- <h3 class="masthead-title">
      <a href="/" title="Home">0xguid</a>
      <small><i class="fa fa-code"></i> Cloud and software development</small>
    </h3> -->
  
    <nav>
      <!-- <a href="https://twitter.com/edd_mann"><i class="fa fa-twitter"></i></a> -->
      <a href="/#"><i class="fa fa-arrow-alt-circle-up"></i></a>
      <a href="https://github.com/0xguid"><i class="fa fa-github"></i></a>
      <a href="mailto:0xguid@gmail.com"><i class="fa fa-envelope"></i></a>
    </nav>
    <div class="cf"></div>
  </header>
</main>
</div>
    
  </body>
</html>
