
<!-- <h3 class="masthead-title">
<small><i class="fa fa-code"></i> Cloud and software development</small>
</h4> -->
</div>
</div>
<footer class="blog-footer">
    <h3 class="masthead-footer">
        <a href="/" title="Home">0xguid</a>
        <!-- <small><i class="fa fa-code"></i> Cloud and software development</small> -->
    </h3>
    <nav>
        <!-- <a href="https://twitter.com/edd_mann"><i class="fa fa-twitter"></i></a> -->
        <a href="https://github.com/0xguid"><i class="fa fa-github"></i></a>
        <a href="mailto:0xguid@gmail.com"><i class="fa fa-envelope"></i></a>
    </nav>
  </footer>
    <!-- <label for="sidebar-checkbox" class="sidebar-toggle"></label> -->
    
  </body>
</html>
