<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {{ partial "head.html" . }}

  <body>

    {{ partial "sidebar.html" . }}

   

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <!-- <h3 class="masthead-title">
            <a href="/" title="Home">{{ .Site.Params.Title }}</a>
            <small>{{ .Site.Params.Tagline }}</small>
          </h3> -->

          <h3 class="masthead-title">
            <a href="/" title="Home">Edd Mann</a>
            <small><i class="fa fa-code"></i> Developer</small>
        </h3>
        <nav>
            <a href="https://twitter.com/edd_mann"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/eddmann"><i class="fa fa-github"></i></a>
            <a href="mailto:the@eddmann.com"><i class="fa fa-envelope"></i></a>
        </nav>
        <div class="cf"></div>


        </div>
      </div>

      <div class="container content">
