/* OBFUSCATED BY CSSOBFUSCATOR.COM at 2019/07/01 04:41:26 */
* {
  -webkit-box-sizing: border-box;
}
body,
html {
  margin-left: 0;
}
html,
body {
  margin-bottom: 0;
}
body,
html {
  margin-right: 0;
}
html,
body {
  margin-top: 0;
}
* {
  -moz-box-sizing: border-box;
}
body,
html {
  padding-left: 0;
}
body,
html {
  padding-bottom: 0;
}
body,
html {
  padding-right: 0;
}
html,
body {
  padding-top: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
html {
  font-size: 1pc;
}
html {
  line-height: 1.5;
}
@media (min-width: 38em) {
  html {
    font-size: 0.1875in;
  }
}
body {
  color: #515151;
}
body {
  background-color: #fff;
}
body {
  -webkit-text-size-adjust: 100%;
}
body {
  -ms-text-size-adjust: 100%;
}
a {
  color: #268bd2;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
img {
  max-width: 100%;
}
[class~="archive"],
img {
  margin-left: 0;
}
img {
  margin-bottom: 1rem;
}
img,
[class~="archive"] {
  margin-right: 0;
}
img,
[class~="archive"] {
  margin-top: 0;
}
img {
  border-radius: 5px;
}
table {
  margin-bottom: 1rem;
}
a strong {
  color: inherit;
}
table {
  width: 100%;
}
table {
  font-size: 85%;
}
table {
  border-left-width: 0.0625pc;
}
table {
  border-bottom-width: 0.0625pc;
}
a:hover,
a:focus {
  opacity: 0.8;
}
table {
  border-right-width: 0.0625pc;
}
table {
  border-top-width: 0.0625pc;
}
table {
  border-left-style: solid;
}
table {
  border-bottom-style: solid;
}
table {
  border-right-style: solid;
}
table {
  border-top-style: solid;
}
table {
  border-left-color: #e5e5e5;
}
table {
  border-bottom-color: #e5e5e5;
}
table {
  border-right-color: #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
table {
  border-top-color: #e5e5e5;
}
table {
  border-image: none;
}
table {
  border-collapse: collapse;
}
tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
td,
th {
  padding-left: 0.5rem;
}
th,
td {
  padding-bottom: 0.25rem;
}
td,
th {
  padding-right: 0.5rem;
}
[class~="cf"] {
  zoom: 1;
}
th,
td {
  padding-top: 0.25rem;
}
td {
  border-left-width: 0.010416667in;
}
td {
  border-bottom-width: 0.010416667in;
}
[class~="archive"] {
  margin-bottom: 0;
}
td {
  border-right-width: 0.010416667in;
}
td {
  border-top-width: 0.010416667in;
}
td {
  border-left-style: solid;
}
td {
  border-bottom-style: solid;
}
td {
  border-right-style: solid;
}
td {
  border-top-style: solid;
}
td {
  border-left-color: #e5e5e5;
}
td {
  border-bottom-color: #e5e5e5;
}
td {
  border-right-color: #e5e5e5;
}
td {
  border-top-color: #e5e5e5;
}
td {
  border-image: none;
}
th {
  border-left-width: 0.010416667in;
}
th {
  border-bottom-width: 0.010416667in;
}
th {
  border-right-width: 0.010416667in;
}
th {
  border-top-width: 0.010416667in;
}
[class~="cf"]:after,
[class~="cf"]:before {
  content: "";
}
th {
  border-left-style: solid;
}
[class~="cf"]:after,
[class~="cf"]:before {
  display: table;
}
th {
  border-bottom-style: solid;
}
th {
  border-right-style: solid;
}
th {
  border-top-style: solid;
}
th {
  border-left-color: #e5e5e5;
}
th {
  border-bottom-color: #e5e5e5;
}
th {
  border-right-color: #e5e5e5;
}
th {
  border-top-color: #e5e5e5;
}
th {
  border-image: none;
}
th {
  text-align: left;
}
[class~="archive"] {
  padding-left: 0;
}
h1,
h4,
h3,
h6,
h5,
h2 {
  margin-bottom: 0.5rem;
}
h5,
h3,
h2,
dt,
h6,
h4,
abbr,
h1 {
  font-weight: bold;
}
h2,
h1,
h6,
h3,
h4,
h5 {
  line-height: 1.25;
}
h3,
h4,
h5,
h6,
h1,
h2 {
  color: #313131;
}
h4,
h5,
h3,
h6,
h1,
h2 {
  text-rendering: optimizeLegibility;
}
[class~="archive"] {
  padding-bottom: 0;
}
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
[class~="cf"]:after {
  clear: both;
}
[class~="archive"] {
  padding-right: 0;
}
[class~="archive"] {
  padding-top: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h5,
h4,
h6 {
  margin-top: 1rem;
}
h4,
h6,
h5 {
  font-size: 1rem;
}
[class~="archive"] {
  list-style: none;
}
dl,
ol,
p,
ul {
  margin-top: 0;
}
dl,
ol,
p,
ul {
  margin-bottom: 1rem;
}
strong {
  color: #303030;
}
abbr[title] {
  cursor: help;
}
dd {
  margin-bottom: 0.5rem;
}
hr {
  position: relative;
}
blockquote,
hr {
  margin-left: 0;
}
hr {
  margin-bottom: 1.5rem;
}
hr,
blockquote {
  margin-right: 0;
}
hr {
  margin-top: 1.5rem;
}
hr {
  border-left-width: 0;
}
hr,
abbr[title] {
  border-bottom-width: 0.0625pc;
}
hr {
  border-right-width: 0;
}
hr {
  border-top-width: 0.010416667in;
}
hr {
  border-left-style: none;
}
hr {
  border-bottom-style: solid;
}
hr {
  border-right-style: none;
}
hr {
  border-top-style: solid;
}
hr {
  border-left-color: currentColor;
}
hr {
  border-bottom-color: #fff;
}
hr {
  border-right-color: currentColor;
}
hr {
  border-top-color: #eee;
}
hr {
  border-image: none;
}
abbr {
  font-size: 85%;
}
abbr {
  color: #555;
}
abbr {
  text-transform: uppercase;
}
blockquote {
  padding-left: 1rem;
}
blockquote {
  padding-bottom: 0.5rem;
}
blockquote {
  padding-right: 1rem;
}
blockquote {
  padding-top: 0.5rem;
}
abbr[title] {
  border-bottom-style: dotted;
}
blockquote {
  margin-bottom: 0.8rem;
}
blockquote {
  margin-top: 0.8rem;
}
blockquote {
  color: #7a7a7a;
}
blockquote {
  border-left-width: 0.25rem;
}
blockquote {
  border-left-style: solid;
}
blockquote {
  border-left-color: #e5e5e5;
}
abbr[title] {
  border-bottom-color: #e5e5e5;
}
blockquote,
abbr[title] {
  border-image: none;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
  }
  blockquote {
    padding-left: 1.25rem;
  }
}
[class~="highlight"] [class~="hll"] {
  background-color: #ffc;
}
[class~="footnotes"] {
  margin-top: 2rem;
}
[class~="highlight"] [class~="c"] {
  color: #999;
}
pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
[class~="footnotes"] {
  font-size: 85%;
}
[class~="highlight"] [class~="k"] {
  color: #069;
}
[class~="lead"] {
  font-size: 1.25rem;
}
pre code {
  padding-left: 0;
}
div[class~="highlight"] {
  padding-left: 1rem;
}
div[class~="highlight"] {
  padding-bottom: 1rem;
}
[class~="highlight"] [class~="o"] {
  color: #555;
}
[class~="highlight"] [class~="cm"] {
  color: #09f;
}
[class~="highlight"] [class~="cm"],
[class~="highlight"] [class~="ge"] {
  font-style: italic;
}
[class~="highlight"] [class~="cp"] {
  color: #099;
}
[class~="highlight"] [class~="cs"],
[class~="highlight"] [class~="c1"] {
  color: #999;
}
.highlight .gd {
  background-color: #fcc;
}
.highlight .gd {
  border-left-width: 0.0625pc;
}
.highlight .gd {
  border-bottom-width: 0.0625pc;
}
.highlight .gd {
  border-right-width: 0.0625pc;
}
.highlight .gd {
  border-top-width: 0.0625pc;
}
.highlight .gd {
  border-left-style: solid;
}
.highlight .gd {
  border-bottom-style: solid;
}
.highlight .gd {
  border-right-style: solid;
}
.highlight .gd {
  border-top-style: solid;
}
.highlight .gd {
  border-left-color: #c00;
}
pre code {
  padding-bottom: 0;
}
.highlight .gd {
  border-bottom-color: #c00;
}
.highlight .gd {
  border-right-color: #c00;
}
.highlight .gd {
  border-top-color: #c00;
}
code {
  padding-left: 0.5em;
}
.highlight .gd {
  border-image: none;
}
code {
  padding-bottom: 0.25em;
}
[class~="highlight"] [class~="gr"] {
  color: red;
}
[class~="highlight"] [class~="gh"] {
  color: #030;
}
code {
  padding-right: 0.5em;
}
div[class~="highlight"],
figure[class~="highlight"] {
  padding-right: 1rem;
}
[class~="highlight"] [class~="gi"] {
  background-color: #cfc;
}
[class~="lead"] {
  font-weight: 300;
}
[class~="highlight"] [class~="gi"] {
  border-left-width: 0.010416667in;
}
pre code {
  padding-right: 0;
}
.highlight {
  -webkit-margin-before: 0;
}
code {
  padding-top: 0.25em;
}
a[href^="#fn:"] {
  display: inline-block;
}
[class~="highlight"] [class~="gi"] {
  border-bottom-width: 0.010416667in;
}
a[href^="#fn:"] {
  margin-left: 0.1rem;
}
[class~="highlight"] [class~="gi"] {
  border-right-width: 0.010416667in;
}
.highlight {
  -webkit-margin-after: 0;
}
[class~="highlight"] [class~="gi"] {
  border-top-width: 0.010416667in;
}
[class~="highlight"] [class~="gi"] {
  border-left-style: solid;
}
[class~="highlight"] [class~="gi"] {
  border-bottom-style: solid;
}
[class~="highlight"] [class~="gi"] {
  border-right-style: solid;
}
code {
  font-size: 85%;
}
[class~="highlight"] [class~="gi"] {
  border-top-style: solid;
}
.highlight {
  -webkit-margin-start: 0;
}
figure[class~="highlight"],
div[class~="highlight"] {
  padding-top: 1rem;
}
[class~="highlight"] [class~="gi"] {
  border-left-color: #0c0;
}
figure[class~="highlight"] {
  padding-left: 1rem;
}
.highlight {
  -webkit-margin-end: 0;
}
[class~="highlight"] [class~="gi"] {
  border-bottom-color: #0c0;
}
[class~="highlight"] [class~="gi"] {
  border-right-color: #0c0;
}
[class~="highlight"] [class~="gi"] {
  border-top-color: #0c0;
}
code {
  color: #bf616a;
}
[class~="highlight"] [class~="gi"] {
  border-image: none;
}
figure[class~="highlight"] {
  padding-bottom: 1rem;
}
code {
  background-color: #f9f9f9;
}
[class~="highlight"] [class~="go"] {
  color: #aaa;
}
code {
  border-radius: 0.1875pc;
}
[class~="highlight"] [class~="gp"] {
  color: #009;
}
.highlight {
  margin-left: 0;
}
[class~="highlight"] [class~="gu"] {
  color: #030;
}
[class~="highlight"] [class~="gt"] {
  color: #9c6;
}
[class~="highlight"] [class~="kn"],
[class~="highlight"] [class~="kr"],
.highlight .kp,
[class~="highlight"] [class~="kd"],
[class~="highlight"] [class~="kc"] {
  color: #069;
}
[class~="highlight"] pre {
  margin-bottom: 0;
}
[class~="highlight"] pre {
  overflow-x: auto;
}
pre code {
  padding-top: 0;
}
[class~="highlight"] [class~="kt"] {
  color: #078;
}
[class~="highlight"] [class~="m"] {
  color: #f60;
}
[class~="highlight"] [class~="s"] {
  color: #d44950;
}
pre {
  margin-top: 0;
}
[class~="highlight"] [class~="na"] {
  color: #4f9fcf;
}
.highlight {
  margin-bottom: 1rem;
}
[class~="highlight"] [class~="nb"] {
  color: #366;
}
.highlight .nc {
  color: #0a8;
}
[class~="highlight"] [class~="no"] {
  color: #360;
}
.highlight {
  margin-right: 0;
}
.highlight {
  margin-top: 0;
}
[class~="highlight"] [class~="nd"] {
  color: #99f;
}
.highlight .ni {
  color: #999;
}
.highlight {
  font-size: 0.8rem;
}
.highlight .ne {
  color: #c00;
}
.highlight .nf {
  color: #c0f;
}
[class~="highlight"] [class~="nl"] {
  color: #99f;
}
.highlight {
  line-height: 1.4;
}
[class~="highlight"] [class~="nn"] {
  color: #0cf;
}
[class~="highlight"] [class~="nt"] {
  color: #2f6f9f;
}
[class~="highlight"] [class~="nv"] {
  color: #033;
}
[class~="highlight"] [class~="ow"] {
  color: #000;
}
[class~="highlight"] [class~="w"] {
  color: #bbb;
}
[class~="highlight"] [class~="mf"],
[class~="highlight"] [class~="mh"],
.highlight .mo,
[class~="highlight"] [class~="mi"] {
  color: #f60;
}
pre {
  margin-bottom: 1rem;
}
footer {
  margin-bottom: 0rem;
  display: block;
  color: #505050;
}
pre code {
  font-size: 100%;
}
[class~="highlight"] [class~="s2"],
.highlight .sc,
[class~="highlight"] [class~="sd"],
[class~="highlight"] [class~="sb"],
[class~="highlight"] [class~="se"],
[class~="highlight"] [class~="sh"] {
  color: #c30;
}
.highlight {
  background-color: #272822;
}
[class~="highlight"] [class~="sd"] {
  font-style: italic;
}
[class~="highlight"] [class~="si"] {
  color: #a00;
}
[class~="highlight"] [class~="sx"] {
  color: #c30;
}
[class~="highlight"] [class~="sr"] {
  color: #3aa;
}
.highlight {
  border-radius: 0.25rem;
}
[class~="container"] {
  max-width: 38rem;
}
[class~="highlight"] [class~="s1"] {
  color: #c30;
}
[class~="highlight"] [class~="ss"] {
  color: #fc3;
}
[class~="highlight"] [class~="bp"] {
  color: #366;
}
[class~="highlight"] [class~="vc"],
[class~="highlight"] [class~="vg"],
.highlight .vi {
  color: #033;
}
[class~="highlight"] [class~="il"] {
  color: #f60;
}
[class~="css"] [class~="nt"] + [class~="nt"],
[class~="css"] [class~="o"],
[class~="css"] [class~="o"] + [class~="nt"],
.highlight .lineno {
  color: #999;
}
.highlight .lineno,
a[href^="#fnref:"] {
  display: inline-block;
}
[class~="container"] {
  padding-left: 1.5rem;
}
a[href^="#fnref:"],
a[href^="#fn:"] {
  font-weight: bold;
}
.highlight .lineno {
  padding-right: 0.75rem;
}
[class~="container"] {
  padding-right: 1.5rem;
}
[class~="container"] {
  margin-left: auto;
}
.highlight .lineno {
  padding-left: 0.25rem;
}
.highlight .lineno {
  -webkit-user-select: none;
}
.highlight .lineno {
  -moz-user-select: none;
}
[class~="container"] {
  margin-right: auto;
}
.highlight .lineno {
  user-select: none;
}
pre code {
  color: inherit;
}
a[href^="#fnref:"] {
  margin-left: 0.1rem;
}
pre code {
  background-color: transparent;
}
footer img {
  width: 4rem;
}
footer img {
  height: 4rem;
}
footer img {
  float: left;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  footer img {
    float: none;
  }
  footer img {
    display: block;
  }
  footer img {
    margin-left: auto;
  }
  footer img {
    margin-bottom: 1rem;
  }
  footer img {
    margin-right: auto;
  }
  footer img {
    margin-top: 1rem;
  }
}
footer ul {
  padding-left: 0;
}
footer ul {
  padding-bottom: 0;
}
footer ul {
  padding-right: 0;
}
footer ul {
  padding-top: 0;
}
footer ul {
  margin-left: 1rem;
}
footer ul {
  margin-bottom: 0;
}
footer ul {
  margin-right: 0;
}
footer ul {
  margin-top: 0;
}
footer ul {
  list-style: none;
}
footer ul {
  float: left;
}
footer ul {
  font-size: 0.9rem;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  footer ul {
    text-align: center;
  }
  footer ul {
    float: none;
  }
  footer ul {
    display: block;
  }
  footer ul {
    margin-left: 0;
  }
  footer ul {
    margin-bottom: 0;
  }
  footer ul {
    margin-right: 0;
  }
  footer ul {
    margin-top: 0;
  }
}
[class~="masthead"] {
  padding-top: 2rem;
}
[class~="masthead"] {
  padding-bottom: 2rem;
}
[class~="masthead"],
[class~="masthead-title"] {
  margin-bottom: 0;
}
[class~="masthead-title"],
[class~="masthead"] nav {
  margin-top: 1rem;
}
[class~="masthead"] nav a,
[class~="masthead-title"],
.masthead-title a {
  color: #505050;
}
[class~="masthead-title"] {
  float: left;
}
[class~="post"],
[class~="page"] {
  margin-bottom: 3em;
}
[class~="post-title"],
[class~="page-title"] {
  color: #303030;
}
[class~="page-title"],
.post-title {
  margin-top: 0;
}
[class~="masthead"] nav {
  float: right;
}
[class~="post-date"],
[class~="pagination-item"] {
  display: block;
}
[class~="post-date"] {
  margin-top: -0.5rem;
}
[class~="post-date"] {
  margin-bottom: 1rem;
}
[class~="post-date"] {
  color: #9a9a9a;
}
.pagination {
  overflow: hidden;
}
.pagination {
  margin-left: -1.5rem;
}
.pagination {
  margin-bottom: 3rem;
}
[class~="masthead-title"] small {
  font-size: 75%;
}
.pagination {
  margin-right: -1.5rem;
}
[class~="masthead-title"] small {
  font-weight: 400;
}
[class~="masthead-title"] small {
  color: #c0c0c0;
}
.pagination {
  margin-top: 0;
}
.pagination {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
.pagination {
  color: #ccc;
}
.pagination {
  text-align: center;
}
[class~="pagination-item"] {
  padding-left: 1rem;
}
[class~="pagination-item"] {
  padding-bottom: 1rem;
}
[class~="masthead"] nav i {
  margin-left: 0.5rem;
}
[class~="pagination-item"] {
  padding-right: 1rem;
}
[class~="pagination-item"] {
  padding-top: 1rem;
}
[class~="pagination-item"] {
  border-left-width: 0;
}
[class~="pagination-item"] {
  border-bottom-width: 1px;
}
[class~="pagination-item"] {
  border-right-width: 0;
}
[class~="pagination-item"] {
  border-top-width: 1px;
}
[class~="pagination-item"] {
  border-left-style: solid;
}
[class~="pagination-item"] {
  border-bottom-style: solid;
}
[class~="pagination-item"] {
  border-right-style: solid;
}
[class~="pagination-item"] {
  border-top-style: solid;
}
[class~="pagination-item"] {
  border-left-color: #eee;
}
[class~="pagination-item"] {
  border-bottom-color: #eee;
}
[class~="masthead-title"] small {
  letter-spacing: 0;
}
[class~="pagination-item"] {
  border-right-color: #eee;
}
[class~="pagination-item"] {
  border-top-color: #eee;
}
[class~="pagination-item"] {
  border-image: none;
}
.pagination-item:first-child {
  margin-bottom: -0.0625pc;
}
[class~="post-title"] a {
  color: #303030;
}
a[class~="pagination-item"]:hover {
  background-color: #f5f5f5;
}
@media (min-width: 30em) {
  .pagination-item:first-child {
    margin-bottom: 0;
  }
  [class~="pagination"] {
    margin-left: 0;
  }
  .pagination-item:first-child {
    border-top-left-radius: 0.25pc;
  }
  [class~="pagination"] {
    margin-bottom: 3rem;
  }
  [class~="pagination"] {
    margin-right: 0;
  }
  [class~="pagination"] {
    margin-top: 3rem;
  }
  [class~="pagination-item"] {
    float: left;
  }
  [class~="pagination-item"] {
    width: 50%;
  }
  [class~="pagination-item"] {
    border-left-width: 0.010416667in;
  }
  .pagination-item:first-child {
    border-bottom-left-radius: 4px;
  }
  [class~="pagination-item"] {
    border-bottom-width: 0.010416667in;
  }
  [class~="pagination-item"]:last-child {
    margin-left: -0.0625pc;
  }
  [class~="pagination-item"] {
    border-right-width: 0.010416667in;
  }
  [class~="pagination-item"] {
    border-top-width: 0.010416667in;
  }
  [class~="pagination-item"]:last-child {
    border-top-right-radius: 3pt;
  }
  [class~="pagination-item"]:last-child {
    border-bottom-right-radius: 0.041666667in;
  }
}
.message {
  margin-bottom: 1rem;
}
.message {
  padding-left: 1rem;
}
.message {
  padding-bottom: 1rem;
}
.message {
  padding-right: 1rem;
}
.message {
  padding-top: 1rem;
}
.message {
  color: #717171;
}
.message {
  background-color: #f9f9f9;
}

.blog-footer {
  padding: 2.5rem 0;
  /* color: #999; */
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

[class~="masthead"],
[class~="masthead-footer"] {
  margin-bottom: 0;
}
[class~="masthead-footer"],
[class~="masthead"] nav {
  margin-top: 0rem;
}
[class~="masthead"] nav a,
[class~="masthead-footer"],
.masthead-title a {
  color: #505050;
}
[class~="masthead-footer"] {
  float: center;
}